
.imagemIphone {
    position: absolute;
    margin-left: -10dvw;
    margin-top: -30dvh;
    width: 30%;
    height: 30%;
}

.imagemTV {
    position: absolute;
    margin-left: 50dvw;
    margin-top: -30dvh;
    width: 25dvw;
    height: 30dvh;
}

.bombImage{
    position: absolute;
    margin-left: 42dvw;
    margin-top: -23dvh;
    width: 8dvw;
    height: 8dvh;
}
