.title {
    position: absolute;
    z-index: 2;
    letter-spacing: 1px;
    margin-top: -11dvh;
    margin-left: 6dvw;
    padding: 0.5em;
    height: 10dvh;
    background-color: #1565c0;
    font-size: 3em;
    color: white;   
}

